/* Title Bar */
.player-title {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 0;
    font-weight: 100;
    font-size: x-large;
}
.replay-file-holder {
    display: inline-block;
    float: right;
}
.player-title .chip {
    background: #aaa;
}
/* Player */
.player-canvas {
    background: #000;
    display: block;
}
/* Player Controls */
.player-controls-holder {
    position: relative;
}
.player-buttons-holder {
    width: 10em;
}
.player-buttons-holder .btn {
    width: 3em;
    padding: 0;
}
/* Player Seek */
.range-field .thumb {
    visibility: hidden;
}
.player-seek-holder {
    position: absolute !important;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    padding-left: 10.5em;
    overflow: hidden;
    pointer-events: none;
}
.player-seek-holder input {
    pointer-events: auto;
}
/* Alerts */
.alert-holder {
    position: fixed;
    bottom: 1em;
}
.alert-holder .chip {
    background: #f88;
}
